<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>First PROJECT</title>
    <link rel="stylesheet" href="style.css" />
    <script src="Script.js"></script>
  </head>

  <body>
    WELCOME BITCH
    <h1>Brother</h1>
    <p>See how I'm making progess</p>
    <h1>This is COOL</h1>
    <h2>This is COOL</h2>
    <h3>This is COOL</h3>
    <h4>This is COOL</h4>
    <h5>This is COOL</h5>
    <h6>This is COOL</h6>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum, et
      fugiat perspiciatis iste ullam nostrum? Explicabo perspiciatis quos in
      reprehenderit et eaque commodi, id, eum accusamus repudiandae nesciunt
      quisquam dolor. Ex odio sequi sed laudantium officia, quia voluptatem
      aliquam incidunt natus, illo magni consectetur iusto dolor. Maiores ut
      soluta voluptas ad rerum assumenda, sapiente quam eum distinctio, iure
      consequatur repellendus quidem natus nulla commodi veniam vitae velit
      delectus officia magnam tenetur cum. Dolores vero, tempora iure quos
      perspiciatis alias modi, molestiae consectetur reprehenderit error nisi
      exercitationem aspernatur omnis! Officiis quia iure asperiores nostrum
      nihil saepe delectus consectetur explicabo eum quaerat?
    </p>
    <i>this is lund</i> <br />
    <hr />
    <u>this is chut</u> <br />
    <b>this is booba</b><br />
    <p>CO<sub>2</sub></p>
    <p>2 <sup>2</sup>=4</p>
    <big>apun hi bagwan h</big>
    <small>madrchod</small>
    <a href="https://milf300.com/" target="_blank">Porn dekhega</a>
    <a href="/ABOUT.html" target="_blank">CLICK TO KNOW MORE</a>
    <a href="https://en.wikipedia.org/wiki/Dragon_Ball_Super" target="_blank"
      ><img
        src="/goku-ultra-instinct-dragon-ball-minimal-4k-zl-3840x2160.jpg"
        width="700px"
        alt=""
    /></a>
    <big>KNOW YOUR PLACE FOOL</big> <br />
    <video
      src="/sukuna-king-of-curses-jujutsu-kaisen-moewalls.com.mp4"
      width="480px"
      controls
      autoplay
      loop
    ></video>
    <img src="https://picsum.photos/200/300?random=1" />
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/Kebji9Rr7_o?si=dOYDH2_VdHgiosSo"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe
    ><br />
    <iframe src="https://www.bing.com" frameborder="0" width="1080px"></iframe>
    <ul type="square"></ul>
    <li>CHUT</li>
    <li>CHUT</li>
    <li>CHUT</li>
    <li>CHUT</li>
    <ol type="I">
      <li>lund</li>
      <ol type="A">
        <li>9 INCH</li>
        <li>99 INCH</li>
      </ol>
      <li>lund</li>
      <li>lund</li>
      <li>lund</li>
    </ol>
    <table>
      <th>GANDU LONDO KI TYPES</th>
      <tr>
        GAY
      </tr>
      <td>CHINKI</td>
    </table>
    <table>
      <thead>
        <tr>
          <th>NAME</th>
          <th>roll no.</th>
          <th>class</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>jack</td>
          <td>3</td>
          <td>9</td>
        </tr>
        <tr>
          <td>MUSI</td>
          <td>5</td>
          <td>9</td>
        </tr>
        <tr>
          <td>tatti</td>
          <td>6</td>
          <td>9</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
